.feature-heading {
    width: 185.85px;
    height: 101px;
  
    font-family: 'Google Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19.4899px;
    line-height: 25px;
    text-align: center;
    color: #4D4D4D;
  
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  